<!-- Log In page -->

{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block title %}Log In | {{ block.super }}{% endblock %}

{% block auth %}
    <h1>ChainBid</h1>
    <p class="lead text-muted">Auction platform powered by blockchain</p>
    <div class="login-form-container">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button
                type="submit"
                class="btn btn-primary btn-block"
                >Log In
            </button>
        </form>
        <hr>
        <a href="{% url 'django_registration_register' %}" class="btn btn-outline-primary btn-block mt-2" >Create an account</a>
    </div>
{% endblock %}
