<!-- Change password page -->

{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block head_title %}Change password | {{ block.super }}{% endblock %}

<!-- Change password forms -->
{% block auth %}
    <h2>Change password</h2>
    <div class="login-form-container">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button
                type="submit"
                class="btn btn-primary btn-block"
                >Save
            </button>
        </form>
    </div>
{% endblock %}