<!-- Change password page -->

{% extends "auth_layout.html" %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block title %}Change password | {{ block.super }}{% endblock %}

<!-- Change password forms -->
{% block auth %}
    <h1>Change password</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-11 col-sm-8 col-md-10 col-xl-8">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid">
                    <button class="btn btn-violet rounded-pill mt-1 mb-2"
                            type="submit"
                            >Save
                    </button>
                </div>
            </form>
            <hr>
            <div class="d-grid">
                <a class="btn btn-outline-violet rounded-pill mt-2"
                   href="{% url 'entry-point' %}"
                   >Cancel
                </a>
            </div>
        </div>
    </div>
{% endblock %}