<!-- Base template for registration/authentication pages -->

{% extends "base.html" %}

{% block style %}
  <style>
    html, body {
      height: 100%;
    }

    body {
      background-image: linear-gradient(to bottom right, #22223B, #4A4E69);
      color: #37251B;
    }

    a {
      text-decoration: none;
    }

    .asteriskField {
        display: none;
    }

    .btn:focus {
      box-shadow: none !important;
    }

    .btn-violet {
      background-color: #4A4E69;
      border-color: #4A4E69;
      color: #FFF;
      transition: 0.5s;
    }

    .btn-violet:hover {
      background-color: #52528E;
      border-color: #4A4E69;
      color: #FFF;
    }

    .btn-outline-violet {
      background-color: #F2E9E4;
      border-color: #4A4E69;
      color: #37251B;
    }

    .btn-outline-violet:hover {
      background-color: #4A4E69;
      border-color: #4A4E69;
      color: #FFF;
    }

    .auth-box {
      border: 3px solid #C9ADA7;
      border-radius: 10px;
      margin: auto;
      background-color: #F2E9E4;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container" style="height: 100%;">
    <div class="row text-center align-items-center" style="height: 100%;">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-5 auth-box p-3 p-md-5">
        {% block auth %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
