<!-- Homepage template - Development -->

{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
  <!-- Warning: JavaScript content disabled -->
  <noscript>
    <p class="container text-center mt-5">
      <strong>
        This site uses JavaScript content, if you are seeing this message it has probably been disabled by your browser settings. Please enable JavaScript content if you wish to access the site.
      </strong>
    </p>
  </noscript>

  <!-- Vue.js application -->
  <div id="app"></div>
  {% render_bundle 'app' %}
{% endblock %}
