[Unit]
Description=Automated tasks Celery Service
After=network.target

[Service]
Type=simple
User=chainbid
WorkingDirectory=/home/ubuntu/start2impact_final-project/chainBid
ExecStart=/home/ubuntu/start2impact_final-project/venv/bin/celery \
          -A chainBid worker \
          --loglevel=INFO \
          --statedb=worker.state
Restart=on-failure

[Install]
WantedBy=multi-user.target
