[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=<USER>
Group=www-data
WorkingDirectory=/home/<USER>/<PROJECT_DIR>/<PROJECT_NAME>
ExecStart=/home/<USER>/<PROJECT_DIR>/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          PROJECT_NAME.wsgi:application

[Install]
WantedBy=multi-user.target
