aiohttp==3.7.4.post0
amqp==5.0.6
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
base58==2.1.0
billiard==3.6.4.0
bitarray==1.2.2
celery==5.1.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
confusable-homoglyphs==3.2.0
cryptography==3.4.8
cytoolz==0.11.0
defusedxml==0.7.1
Django==3.2.7
django-allauth==0.45.0
django-crispy-forms==1.12.0
django-registration==3.2
django-rest-auth==0.9.5
django-webpack-loader==1.3.0
djangorestframework==3.12.4
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
hexbytes==0.2.2
idna==3.2
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
kombu==5.1.0
lru-dict==1.1.7
multiaddr==0.0.9
multidict==5.1.0
netaddr==0.8.0
oauthlib==3.1.1
parsimonious==0.8.1
Pillow==8.3.2
prompt-toolkit==3.0.20
protobuf==3.18.0
pycparser==2.20
pycryptodome==3.10.1
PyJWT==2.1.0
pyrsistent==0.18.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.1
redis==3.5.3
requests==2.26.0
requests-oauthlib==1.3.0
rlp==2.0.1
six==1.16.0
sqlparse==0.4.2
toolz==0.11.1
typing-extensions==3.10.0.2
urllib3==1.26.6
varint==1.0.2
vine==5.0.0
wcwidth==0.2.5
web3==5.23.1
websockets==9.1
yarl==1.6.3
